@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gunmetal: #29313dff;
  --raisin-black: #212227ff;
  --maximum-blue-purple: #adbdffff;
  --charcoal: #42444dff;
  --off-white: #f4f6ff;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--raisin-black);
}
p {
  color: var(--gunmetal);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
